@page
@model IS7024.Pages.HollywoodBowlModel
@{
    ViewData["Title"] = "HollywoodBowl";
    var events = (List<QuickTypeBowl.Event>)ViewData["events"];
    var sun = ViewData["sun"];
}

<div class="text-center">
    <h1 class="display-4">Upcoming Events at the Hollywood Bowl</h1>
    </hr>
    <table border="1" width="90%">
        <tr><th></th></tr>
        @{

            foreach (QuickTypeBowl.Event eventss in events)
            {
                <tr>
                    <td>@eventss.DisplayName</td>
                    <td>@sun</td>
                    <td>@eventss.Venue</td>
                    <td><a href="@eventss.Uri" target="_blank">Get Tickets</a></td>
                    <td></td>
                </tr>
            }

        }





    </table>
    <img src="https://raw.githubusercontent.com/huberr3/IS7024/master/powered-by-songkick-pink.png" width="171" height="60">
</div>

