@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var welcomes = (QuickType.Event[]) ViewData["Welcome"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    </hr>
    <table border="1" width="90%">
        <tr><th></th></tr>
        @{
            foreach (QuickType.Event welcome in welcomes) { 
            <tr>
                <td>@welcome.DisplayName</td>
                <td>@welcome.Start</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            }
        }
    </table>
</div>


