@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
   
}
<link rel="stylesheet" href="css/styles.css" type="text/css" />

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h4 class="display-4">Please Select a Concert Venue Below</h4>
        <hr/>
        <table border="1" width="90%">
            <tr><th><a href="@Url.Page("/LudlowGarage")">Ludlow Garage</a></th></tr>
            <tr><th><a href="@Url.Page("/HollywoodBowl")">Hollywood Bowl</a></th></tr>





        </table>
    </div>


