@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
   
}
<link rel="stylesheet" href="css/styles.css" type="text/css" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <h6 class="display-4">Please Select a Concert Venue Below</h6>
</div>
    <hr />
 <div class="a">
        <ul>
            <li><a href="@Url.Page("/LudlowGarage")">Ludlow Garage</a></li>
            <li><a href="@Url.Page("/HollywoodBowl")">Hollywood Bowl</a></li>
        </ul>

 </div>

