@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var ludlows = (QuickType.Ludlow)ViewData["Ludlow"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    </hr>
    <table border="1" width="90%">
        <tr><th></th></tr>
        
          
            <tr>
                <td>@ludlows.ResultsPage.Page</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
        

    </table>
</div>


